<!DOCTYPE html>
<!--
This view is for the login screen
-->
<div class="container">
   <!-- <nav class="navbar navbar-static-top  navbar-default " role="navigation" ng-controller="AppLoginCtrl">-->
   <form class="form-signin" ng-controller="signUpCtrl" ng-submit="signUp()">
        <h2 class="form-signin-heading">Please sign up</h2>
        <br>
        <label for="inputName" class="sr-only">User name</label>
        <input type="text" ng-model="user.userName" id="name" class="form-control" placeholder="User name" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
  
    </div> 